<div class="alert alert-warning mx-5 my-3 text-center" *ngIf = "this.userDataService.message !== ''">
    {{this.userDataService.message}}
</div>
<div
  class="container col-lg-6 py-2 px-2"
  *ngIf="this.userDataService.userRole !== 8 "
  style="
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 0px 4px black;
    border-radius: 6px;
  "
>
<div class="alert alert-info text-center">
    Request Details
</div>
<table class="table table-light table-hover ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Req Info</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.</td>
      <td>Request ID</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_id }}</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Request Title</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_title }}</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>Request Type</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_type }}</td>
    </tr>
    <tr>
      <td>4.</td>
      <td>Request Initiator Id</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_initiator_id }}</td>
    </tr>
    <tr>
      <td>5.</td>
      <td>Request Type</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_type }}</td>
    </tr>
    <tr>
      <td>6.</td>
      <td>Request sent on</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_date }}</td>
    </tr>
    <tr>
      <td>7.</td>
      <td>Request Budget</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_budget }}</td>
    </tr>
    <tr>
      <td>8.</td>
      <td>Request Description</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_description }}</td>
    </tr>
    <tr>
      <td>9.</td>
      <td>Request Status</td>
      <td (click)="goToRequestAction(view.req_id)">{{ view.req_status }}</td>
    </tr>
    <tr>
      <td>10.</td>
      <td>Comment:</td>
      <!-- (click)="goToRequestAction(view.req_id)" -->
      <td >{{ view.acomment }}<textarea
        rows="4"
        style="
          width: 70%;
          height: 100%;
          margin-top: 10px;
          border: 2px slateblue solid;
          border-radius: 1px;
        "
        placeholder="Write here"
        [(ngModel)]="comment"
      >
      </textarea></td>
    </tr>
  </tbody>
</table>
  <div
    class="row"
    *ngIf="
      this.userDataService.viewReq.req_status === 'Pending' &&
      this.userDataService.userRole !== 1
    "
  >
    <div class="col-lg-3"></div>
   
 
    <!-- <div class="text-center col-lg-6">
      <button
        class="btn btn-success btn-large"
        style="width: 100%;"
        (click)="userDataService.Approved(view.req_id);this.openSnackBar('Request Approved Successfully!');"
        routerLink="/dashboard"
        *ngIf = "userDataService.toBeApproved"
      >
        Approve
      </button> -->
   
      <!-- <form [formGroup]="allocateForm" >

        <div class="panel-body">
           
                <div class="col-md-12 col-sm-12">
                    <div class="form-group col-md-3 col-sm-6">
                      <label>Select User</label>
                      <select formControlName="user" class="select" name="user">
                        <option value="" selected data-default>Select User</option>
                        <option *ngFor="let type of users" [value]="type.User_ID">{{type.User_Name}}</option>
                      </select>
                      <p class="error" *ngIf="allocateForm.get('user').invalid && allocateForm.get('user').touched">* User is Required</p>
                    </div>
                </div>
          
        </div>
      </form> -->
      
    <!-- </div> -->
    <div class="col-lg-6"></div>
    <div class="text-center col-lg-6">
      <!-- <a routerLink="dashboard" >Resend</a>
      <router-outlet></router-outlet>
      <footer></footer> -->
      <!-- (click)="goToUpgrade()" -->
      <button type="button"  
        class="btn btn-danger btn-large"
        style="width: 60%;"
        (click)="userDataService.ResendUpdate(view.req_id);this.openSnackBar('Request Resend Successfully!');"
      >
        Resend For Change
      </button>
    </div>
     </div>
  <hr />
</div>
<!-- This shows up if you are a Approver and want to give a feedback -->
<div
  class="container"
  *ngIf="
    view.req_status === 'UnderNeg' &&
    view.req_status === 'Pending' &&
    this.userDataService.userRole !== 1
  "
  style="
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 0px 4px black;
  "
>
  <textarea
    rows="6"
    style="
      width: 100%;
      height: 100%;
      margin-top: 10px;
      border: 2px slateblue solid;
      border-radius: 1px;
    "
    placeholder="Write here"
    [(ngModel)]="comment"
  >
  </textarea>
  <button (click)="submitFeedback()" class="btn btn-lg btn-primary">
    Submit
  </button>
 
</div>
