<div class="col">
  <mat-card class="example-card text-center">
    <button
      class="btn btn-lg btn-outline-primary"
      (click)="
        reRender();
      "
    >
      Fetch More Requests!
    </button>
  </mat-card>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="this.dataSource">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- REQUEST NO COULMN -->
  <ng-container matColumnDef="req_id">
    <th mat-header-cell *matHeaderCellDef> Request Id </th>
    <td mat-cell *matCellDef="let element"> {{element.req_id}} </td>
  </ng-container>

  <!-- REQUEST TITLE Column -->
  <ng-container matColumnDef="Requesttitle" >
    <th mat-header-cell *matHeaderCellDef> Request Title </th>
    <td mat-cell *matCellDef="let element"> {{element.req_title}} </td>
  </ng-container>

  <!-- Requester Id Column -->
  <ng-container matColumnDef="Requester Id">
    <th mat-header-cell *matHeaderCellDef> Requester Id </th>
    <td mat-cell *matCellDef="let element"> {{element.req_initiator_id}} </td>
  </ng-container>
  <!-- Satus Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.req_status}} </td>
  </ng-container>
  <!-- Type Column -->
  <ng-container matColumnDef="Request Type">
    <th mat-header-cell *matHeaderCellDef> Request Type </th>
    <td mat-cell *matCellDef="let element"> {{element.req_type}} </td>
  </ng-container>
  <!--City Column -->
  <ng-container matColumnDef="Request City">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let element"> Static </td>
  </ng-container>
  <!-- Date Column -->
  <ng-container matColumnDef="requestinitdate">
    <th mat-header-cell *matHeaderCellDef> Request Date </th>
    <td mat-cell *matCellDef="let element">
      {{element.req_date}}
    </td>
  </ng-container>

  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button
      color = "warn"
      *ngIf = "UserDataService.userRole !== 8"
      (click) = 'UserDataService.viewReq = element; UserDataService.getWorkFlow(element.req_id)'
      routerLink="view">
        View
      </button>
      <!-- <button mat-raised-button
      color = "primary"
       matTooltip="Info about the action"
       *ngIf = "UserDataService.userRole === 8 "
       (click) = 'UserDataService.viewReq = element' routerLink="view">
        View & Add Approvers
      </button> -->
    </td>
  </ng-container>
 
  <ng-container  matColumnDef="Approve">
    <th mat-header-cell *matHeaderCellDef style=" text-align: center;"></th>
    <td mat-cell *matCellDef="let element">
      <button
      mat-raised-button
      color = "accent"
      (click) = 'UserDataService.viewReq = element'
      routerLink="status">
      View Status
      </button>
      <!-- <button
      mat-raised-button
      color = "primary"
      *ngIf = 'this.UserDataService.isPending && (this.UserDataService.userRole!== 1)
      && (this.UserDataService.userRole !== 8)'
      (click) = 'approve(element.RequestNo , element.RequesterId)'
      style="margin-left: 10px;"
      >
      Approve
      </button> -->
      <!-- <button
      mat-raised-button
      color = "warn"
      *ngIf = ' this.UserDataService.userRole === 1 && element.req_status === "UnderNeg"'
      style="margin-left: 10px;"
      routerLink = "view"
      >
      Edit & View Feedback
      </button> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5 , 10]" ></mat-paginator>
</div>
<!-- <p>
  {{dataSource[0]}}
</p> -->
