body{
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/bgimg.png");
  background-repeat: repeat;
  background-size: 250px 100px;
  background-color:  rgba(86, 123, 146, 0.445);
  /* opacity: 1; */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.simple-snack-bar .mat-simple-snackbar {
  justify-content: center;
  color: rgb(229, 40, 90);
  font-size: large;
  font-style: italic;
  /* background-color: white; */
}
